@charset "utf-8";

:root{
    --p:rgb(255,255,255);
    --b:rgb(255,255,255);
}

body {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 20vh;
    background: var(--p);
}

#nav {
    background: var(--b);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    float: right;
}

#nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nav ul > li {
    display: flex;
    width: 30px;
    height: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nav ul > li > a {
    box-sizing: border-box;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: var(--b);
    border: 5px solid white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

#nav .click {
    width: 20px;
    height: 20px;
    border-radius: 30px;
}

.theme-1 {
    --p:white;
    --b:white;
}

.theme-2 {
    --p:rgb(175, 231, 123);
    --b:rgb(92, 186, 54);
}

.theme-3 {
    --p:rgb(136, 213, 236);
    --b:rgb(74, 176, 228);
}

.theme-4 {
    --p:rgb(239, 156, 218);
    --b:rgb(223, 72, 200);
}

.theme-5 {
    --p:rgb(240, 112, 112);
    --b:rgb(236, 70, 70);
}

